<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>All users</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <th>name</th>
            <th>birth date</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each = "user : ${users}">
            <td th:utext = "${user.name}"></td>
            <td th:utext = "${user.birthDate}"></td>
            <td>
                <form th:action="@{/delete/{id}(id=${user.id})}" th:method="DELETE">
                    <input type="submit" value="Delete"/>
                </form>
                <form th:action="@{/update}" th:method="POST">
                    <input type="hidden" th:value="${user.id}" name="id"/>
                    <input type="submit" value="Update"/>
                </form>
            </td>
        </tr>
    </tbody>
</table>

<a th:href="@{/add}">Add new user</a>
</body>
</html>